name: Build and Publish Docker Image

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Step 3: Build Docker image locally
      - name: Build Docker Image
        run: |
          docker build -t skeleton-analyzer:latest .

      # Step 4: Retag for Docker Hub
      - name: Retag Docker Image
        run: |
          docker tag skeleton-analyzer:latest homams/reo:latest
          docker tag skeleton-analyzer:latest homams/reo:skeleton-analyzer-${{ github.sha }}

      # Step 5: Push Docker images
      - name: Push Docker Images
        run: |
          docker push homams/reo:latest
          docker push homams/reo:skeleton-analyzer-${{ github.sha }}

