name: Build and Publish Docker Image

on:
  push:
    branches: [ "main" ]     # Runs when pushing to main
  pull_request:
    branches: [ "main" ]     # Runs when creating PRs into main
  workflow_dispatch:          # Manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build and Push Docker Image
        uses: mr-smithers-excellent/docker-build-push@v4
        with:
          image: ghcr.io/${{ github.repository_owner }}/skeleton-analyzer
          registry: ghcr.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tags: latest, ${{ github.sha }}
